/* App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 10px 0px 0px 0px;
  font-size: 12px;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 100%;
  margin-top: 0px;
  padding: 10px 20px;
  color: white;
}


.display-dropdown {
  position: relative;
  margin-left: 10px;
}

.display-button {
  display: flex;
  margin-left: 20px;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding: 10px 20px; */
  font-size: 16px;
  cursor: pointer;
}

.display-button img#icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  padding: 5px;
}

.card-nav {
  position: absolute;
  margin-top: 10px;
  left:20px;
  background: white;
  /* margin-left: 100px; */
  color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 10px;
  z-index: 1000;
}


.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-item label {
  font-size: 14px;
  color: #666; /* Slightly muted text color */
  font-weight: 500;
}

.dropdown-item select {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 100px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  min-width: 100px;
}

.custom-select {
  width: 100%;
  padding: 5px;
}


.error {
  color: red;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }
}
